@import "./reset";
@import "./variables/global";

.app {
    color: var(--primary-color);
    background: var(--bg-color);
    font: var(--font-m);
    min-height: 100vh;
}

.page__wrapper {
    display: flex;
}

.page {
    height: calc(100vh - var(--navbar-heigth));
    padding: 30px;
    overflow-y: auto;
    flex-shrink: 100;
    flex-grow: 1;
}
