.Text {
    margin: 10px 0;
    padding: 15px;
    border: 2px solid var(--bg-color);
    border-radius: 15px;
    background: var(--inverted-bg-color);

    .title {
        margin-bottom: 10px;
    }

    .text {
        text-align: justify;
    }
}

.warning {
    border: 2px solid orange;
    background: lightgoldenrodyellow;

    .title {
        color: darkorange;
    }

    .text {
        color: darkkhaki;
    }
}

.error {
    border: 2px solid red;
    background: lightcoral;

    .title {
        color: red;
    }

    .text {
        color: indianred;
    }
}

.center {
    .title,
    .text {
        text-align: center;
    }
}

.right {
    .title,
    .text {
        text-align: right;
    }
}

.left {
    .title,
    .text {
        text-align: left;
    }
}
