.Button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    font-size: 20px;
    transition: 200ms;
    outline: none;

    &:hover {
        border: 2px solid orange;
        transform: scale(0.995);
    }
}

.clear {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.primary {
    border: 2px solid red;
    border-radius: 5px;
    color: var(--primary-color);
    background: var(--inverted-bg-color);
}

.outlined {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: var(--inverted-primary-color);
    background: transparent;
}
