.HDisclosureWrapper {
    width: 100%;
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.opened {
    color: var(--inverted-bg-color);
    background: var(--primary-color);
}
