.HeroesListSkeleton {
    padding: 20px;
    border: 2px solid teal;
    border-radius: 10px;
}

.HeroCard {
    padding: 20px;
    border: 2px solid teal;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heroInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.heroRank {
    margin-bottom: 10px;
}
