.HeroesList {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    grid-gap: 20px;
}

@media (width <= 1000px) {
    .HeroesList {
        grid-template-columns: 1fr 1fr;
    }

}

@media (width <= 800px) {
    .HeroesList {
        grid-template-columns: 1fr;
    }

}
