.Tabs {
    padding: 7px;
    border-radius: 5px;
    background: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.tab {
    cursor: pointer;
    padding: 5px 10px;
    border: 2px solid red;
    border-radius: 5px;
    background: green;
    transition: 200ms;
}

.selectedTab {
    background: pink;
}
