.inputWrapper {
    width: 100%;
    margin: 15px 0;
    transition: 200ms;
    position: relative;
    text-align: center;
    outline: 2px solid red;

    &:focus,
    &:hover {
        outline: 2px solid orange;
    }
}

.InputFile {
    opacity: 0;
    position: absolute;
}

.fileButton {
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 3px;
    color: var(--primary-color);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fileInputWrapper {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    border-right: 1px solid #fff;
}

.fileInputName {
    font-size: 20px;
    text-align: center;
}
