* {
    transition: 200ms;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    padding: 5px 10px;
    border: none;
    background: none;
    font-size: 20px;
    outline: 2px solid red;

    &:focus {
        outline: 2px solid orange;
    }
}

.textarea {
    padding: 5px 10px;
    border: none;
    background: none;
    font-size: 20px;
    outline: 2px solid red;

    &:focus {
        outline: 2px solid orange;
    }
}

button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background: none;
    font-size: 20px;
    outline: 2px solid red;

    &:focus,
    &:hover {
        background: lightsalmon;
        outline: 2px solid orange;
    }
}
