.HCombobox {
    position: relative;
}

.comboboxWrapper {
    position: fixed;
}

li {
    list-style-type: none;
}

.inputWrapper {
    padding: 5px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.input {
    padding: 10px;
    border: 2px solid var(--inverted-primary-color);
    border-radius: 10px;
    background: var(--inverted-bg-color);
    resize: horizontal;
}

.button {
    color: red;
    display: flex;
    align-items: center;
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-25%);
}

.options {
    padding: 10px;
    border-radius: 10px;
    background: var(--inverted-bg-color);
    left: 5px;
    position: absolute;
}

.option {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

.activeOption {
    background: var(--bg-color);
}

.notFound {
    color: var(--primary-color);
}
