.pageHeader {
    margin-bottom: 10px;
    justify-self: flex-start;
}

.HeroWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.heroHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.heroPhoto {
    width: 175px;
    height: 250px;
    border-radius: 20px;
}

.textWrapper {
    padding: 15px;
    border: 2px dotted var(--inverted-bg-color);
    border-radius: 10px;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

.awardsWrapper {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--inverted-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.awardsDetailedWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: flex-start;
    overflow-x: auto;
}

.awardWrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.awardImage {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.story {
    width: 100%;
}
